@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'sass/utilities/variables';


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: $bg-color;
   font-family: $font-stack, Arial, Helvetica, sans-serif;
   color: $primary-color;
}

.container {
   display: flex;
   flex-direction: column;
}


@import 'sass/layout/navbar';
@import 'sass/components/buttons';