%btn {
    display: inline-block;
    color: $primary-color;
    padding: 8px 20px;
    background-color: $secondary-color;
    border: 3px solid $primary-color;
    font-size: 1.5rem;



    &:hover {
        color: $secondary-color;
        background-color: $custom-red;
        transition: 300ms;
    }
}